---
import iconMobile from '../assets/icons/servicios-electricos-vc-icon-40x40.svg';
import iconDesktop from '../assets/icons/servicios-electricos-vc-icon-56x56.svg';
---
<header class="bg-surface fixed top-0 left-0 right-0 z-50 border-b border-outline-variant h-16 md:h-22 py-2">
  <div class="responsive-container flex justify-between items-center h-full">
    <div class="flex flex-col items-center">
      <img src={iconMobile.src} width={iconMobile.width} height={iconMobile.height} alt="Servicios Eléctricos VC" class="md:hidden" loading="eager" decoding="sync" />
      <img src={iconDesktop.src} width={iconDesktop.width} height={iconDesktop.height} alt="Servicios Eléctricos VC" class="hidden md:block" loading="eager" decoding="sync" />
      <span class="font-h3 text-[10px] md:text-[12px] font-bold text-primary">SERVICIOS ELECTRICOS VC</span>
    </div>
  </div>
</header>
